<div class="card" style="width: 18rem;" *ngFor="let gallina of gallinas" >
  <div >
    <img src="https://i.imgur.com/qLM9Hxw.png" style="width:100px;height:100px;" class="card-img-top" [alt]="gallina.nombre">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk-km4fQtVhLbQH3C4uSuGnY6d8wgb6nlug-0MnA5z_jnZDVPR" width="50px" height="50px" (click)="degollar(gallina.id)">
  </div>
    <div class="card-body">
      <h5 class="card-title">{{gallina.nombre}}</h5>
      <!-- <p class="card-text">placeholder</p> -->
      <a class="btn btn-success" (click)="setGallinaId(gallina.id)" (click)="verHuevos(gallina.id)">Ver Huevos</a>
    </div>
  </div>
