<div class="card" style="width: 18rem;" *ngFor="let huevo of huevos">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <p class="card-text">{{huevo.color}}</p>
    </div>
  </div>

  <form (ngSubmit)="guardar(forma)" #forma="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Color</label>
      <input type="text" class="form-control" 
      placeholder="Ingrese Color" name="color" [(ngModel)]="crearHuevo.huevo.color">
    </div>
    <button type="submit" class="btn btn-primary">Empollar</button>
  </form>