<div class="card mb-3" style="max-width: 540px;" *ngFor="let granja of granjas">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/vg5iADB.png" class="card-img" [alt]="granja.nombre">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{granja.nombre}}</h5>
          <p class="card-text">Descripcion de la granja (no implementada)</p>
          <p class="card-text"><small class="text-muted">placeholder</small></p>
          <button type="button" class="btn btn-success" (click)="setGranjaId(granja.id)" (click)="verGallinas(granja.id)" >Ver Gallinas</button>
          
        </div>
      </div>
    </div>
  </div>
